@import url(http://fonts.googleapis.com/css?family=Lato:300);

/*
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
ALL
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
*/

@import url('/css/mish/header.css');
@import url('/css/mish/work_area_container.css');
@import url('/css/mish/time_ruler.css');
@import url('/css/mish/forms.css');
@import url('/css/mish/footer.css');
@import url('/css/mish/alerts.css');
@import url('/css/mish/user_timelines.css');
@import url('/css/mish/loading_animation.css');

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  color: #262325;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  overflow: hidden;
}