/*
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
ALERTS
-------------------------------------------------------------------------------
-------------------------------------------------------------------------------
*/


/*
success: 097054
error: 9A3334
*/
.alert-message-container{
  display: none;
  position: absolute;
  background-color: #097054;
  padding: 22px;
  z-index: 101;
  color: #EDEDED;
}

.error-alert-message-container{
  background-color: #9A3334 !important;
}

.alert-message-container .alert-message{
  min-width: 250px;
  text-align: center;
}